extends ../../layouts/default.pug

block main 
<<<<<<< HEAD
 h1 Trang tong quan
=======
 h1 Trang tong quan
  a.btn.btn-info.btn-sm(href=`/admin/rooms`) DS phongf
>>>>>>> 1c6f5cc (admin/dashboard - rooms)
