aside.sider.bg-light
  .list-group
    a.list-group-item.list-group-item-action.active(href="/admin/dashboard")
      i.fas.fa-tachometer-alt.mr-2
      | Dashboard
    a.list-group-item.list-group-item-action(href="/admin/hotels")
      i.fas.fa-users.mr-2
      | Quản lý khách sạn
    a.list-group-item.list-group-item-action(href="/admin/rooms")
      i.fas.fa-door-open.mr-2
      | Quản lý phòng
    a.list-group-item.list-group-item-action(href="/admin/bookings")
      i.fas.fa-calendar-check.mr-2
      | Quản lý đặt phòng
    a.list-group-item.list-group-item-action(href="/admin/statistics")
      i.fas.fa-file-invoice-dollar.mr-2
      | Thống kê số liệu
    //-   | Quản lý hóa đơn
    //- a.list-group-item.list-group-item-action(href="/admin/employees")
    //-   i.fas.fa-file-invoice-dollar.mr-2
    //-   | Quản lý nhân viên
    //- a.list-group-item.list-group-item-action(href="/admin/reports")
    //-   i.fas.fa-chart-line.mr-2
    //-   | Báo cáo

