.d-flex
  aside.sider.bg-light
    .list-group
      a.list-group-item.list-group-item-action.active(href="/admin/dashboard")
        i.fas.fa-tachometer-alt.me-2
        | Dashboard
      a.list-group-item.list-group-item-action(href="/admin/hotels")
        i.fas.fa-hotel.me-2
        | Quản lý khách sạn
      a.list-group-item.list-group-item-action(href="/admin/rooms")
        i.fas.fa-door-open.me-2
        | Quản lý phòng
      a.list-group-item.list-group-item-action(href="/admin/bookings")
        i.fas.fa-calendar-check.me-2
        | Quản lý đặt phòng
      a.list-group-item.list-group-item-action(href="/admin/statistics")
        i.fas.fa-chart-bar.me-2
        | Thống kê số liệu
